
.btn{
    outline:none !important;/*去除外边框*/
    box-shadow: none !important;
}
.table .btn {
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 0px;
}

.btn-circle{
    border-radius: 12px !important;
    overflow: hidden;

}
.table.btn:hover {
    background-color: #00a7ff;
}
.btn-circle:active {
    background-color: #bddc8d;
    border-radius: 12px !important;
}


.portlet.light.bordered {
    border: 1px solid #e7ecf1 !important;
}

.portlet.light {
    background-color: #fff;
    padding: 12px 20px 60px 20px;
}

.portlet {
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-top: 0px;
    padding: 0px;
}

.portlet.light.bordered > .portlet-title {
    border-bottom: 1px solid #eef1f5;
}

.portlet.light > .portlet-title {
    min-height: 48px;
    padding: 0;
}
.portlet.light.bordered > .portlet-title {
    border-bottom: 1px solid #eef1f5;
}

.portlet>.portlet-title{
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
}

.portlet.light > .portlet-title > .caption {
    color: #666;
    padding: 10px 0;
}

.portlet > .portlet-title > .caption {
    display: inline-block;
    float: left;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}


.font-blue-hoki {
    color: #67809F !important;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
    font-size: 16px;
}

.portlet.light > .portlet-title > .actions {
    padding: 6px 0 14px 0;
}

.portlet > .portlet-title > .actions {
    display: inline-block;
    float: right;
    padding: 6px 0;
}

/*全屏图标*/
.fullscreen {
    color: #a0a0a0;
    padding-top: 3px;
    font-family: FontAwesome;
}

.fullscreen.btn-sm {
    height: 27px;
    padding: 3px 3px !important;
    width: 27px;
}

.fullscreen:before { content: "\f065"; }

.fullscreen.on:before { content: "\f066"; }


.portlet.light > .portlet-title > .actions .btn-icon-only {
    height: 27px;
    width: 27px;
}

.portlet > .portlet-title > .actions .btn-icon-only.btn-default {
    padding: 4px 6px 2px 6px;
}

.btn-icon-only {
    height: 34px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 34px;
}


.portlet.light .portlet-body {
    padding-top: 8px;
}

.add-circle{
    margin-bottom: 10px;
    height:40px;
    border-bottom: 1px solid #eef1f5;
    padding-bottom: 10px;
}

.btn.green-sharp:not(.btn-outline) {
    background-color: #2ab4c0;
    border-color: #2ab4c0;
    color: #FFFFFF;
}

.btn.green-sharp:hover{
    background-color: #00a7ff;
}

.fa{
    padding-right: 6px;
}
/*头部*/
.head-title{
    font-size:20px;
    font-weight:600;
    color:#67809F;
}

.outside{
    border: 1px solid #e7ecf1;
}
/*搜索框*/
.pagin-padding{
    padding:10px;
}

.search{
    background-color: #f1f4f7;
}

.form-control-input {
    outline: none;
    width: 99%;
    border-radius: 15px !important;
    line-height: 23px;
    border: 1px solid #f3f3f3;
}

.form-control-input[placeholder] {
    padding-left: 12px;
}

.pagin {
    list-style-type: none;
    margin: 0 !important;
    cursor: pointer;
}

.pagin > li {
    display: inline-block;
}
/*列表*/
.nav-List {
    border-bottom: 1px solid #e7ecf1;
}

.nav-List-width {
    width: 100%;
}

.nav-List-text {
    font-size: 14px;
    font-weight: 300;
}

.nav-List:hover {
    color: #218d96;
}

.classList {
    color: #218d96;
}
/*箭头*/
.dot-left {
    font-size: 0;
    line-height: 0;
    border-width: 6px;
    border-color: #8f9ea6;
    border-left-width: 0;
    border-style: dashed;
    border-right-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.dot-right {
    font-size: 0;
    line-height: 0;
    border-width: 6px;
    border-color: #8f9ea6;
    border-right-width: 0;
    border-style: dashed;
    border-left-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
/*隐藏部分*/
.expander-title {
    border-bottom: 1px solid #e7ecf1;
}

.expander-title > p {
    font-weight: 600;
    /*font-size: 13px;*/
}

.expander-text {
    font-weight: 600;
}

.expander-btn {

    margin: 0 auto;
    display: table;
    table-layout: fixed;
    border-collapse: separate;
}

.expander-btn-left {
    border-radius: 10px 0 0 10px !important;
}

.expander-btn-right {
    border-radius: 0 10px 10px 0 !important;
}

/*底部*/

.page-list-width {
    display: table;
    margin: 0 auto 0 auto !important;
    padding: 0;
}

.globe {
    margin: 2px 6px;
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background-color: #8f9ea6 !important;
}

.globeSpan {
    padding: 0 !important;
}

.globeSpan {
    color: #8f9ea6 !important;
}

.pagin > .active {
    background-color: #36c6d3 !important;
}

.pagin > .active {
    color: #36c6d3 !important;
}

/***
Bootstrap  Datetimepicker
***/

.datetimepicker table td {
    color: #000;
    font-family: 'Open Sans' !important;
    font-weight: 300 !important;
}

.datetimepicker table th {
    font-family: 'Open Sans' !important;
    font-weight: 400 !important;
}

.datetimepicker.dropdown-menu { padding: 5px; }

.datetimepicker .active {
    background-color: #4b8df8 !important;
    background-image: none !important;
    filter: none !important;
}

.datetimepicker .active:hover {
    background-color: #2678FC !important;
    background-image: none !important;
    filter: none !important;
}

.datetimepicker .fa-angle-left:before { content: ""/*rtl:""*/; }

.datetimepicker .fa-angle-right:before { content: ""/*rtl:""*/; }

/* change z-index when opened in modal */

.modal-open .datetimepicker { z-index: 10055; }

/***

/***
Dropdown Menu
***/

/*rtl:ignore*/

.dropdown-menu { box-shadow: 5px 5px rgba(102, 102, 102, 0.1); }

.dropdown-menu {
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #eee;
    border-radius: 4px;
    display: none;
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 0/*rtl:auto*/;
    list-style: none;
    margin: 10px 0px 0px 0px;
    min-width: 175px;
    padding: 0px;
    position: absolute;
    text-shadow: none;
    z-index: 1000;
}

.dropdown-menu li.divider { background: #f1f3f6; }

.dropdown-menu li.header { padding: 8px 14px 2px 14px; }

.dropdown-menu > li > a {
    clear: both;
    color: #6f6f6f;
    display: block;
    font-weight: 300;
    line-height: 18px;
    padding: 8px 16px;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu > li > a > [class^="fa-"],
.dropdown-menu > li > a > [class*=" fa-"] { color: #888; }

.dropdown-menu > li > a > [class^="icon-"],
.dropdown-menu > li > a > [class*=" icon-"] { color: #666; }

.dropdown-menu > li > a > [class^="glyphicon-"],
.dropdown-menu > li > a > [class*=" glyphicon-"] { color: #888; }

.dropdown-menu > li:hover > a, .dropdown-menu > li.active > a, .dropdown-menu > li.active:hover > a {
    background-color: #f6f6f6;
    background-image: none;
    color: #555;
    filter: none;
    text-decoration: none;
}

.dropdown-menu.bottom-up {
    bottom: 100%;
    margin-bottom: 2px;
    top: auto;
}

.dropdown-menu.bottom-up:before, .dropdown-menu.bottom-up:after { display: none; }

.dropdown-menu > li:first-child:hover > a { border-radius: 4px 4px 0px 0px; }

.dropdown-menu > li:last-child:hover > a { border-radius: 0px 0px 4px 4px; }

.dropdown-hover:hover > .dropdown-menu { display: block; }

.dropdown > .dropdown-menu,
.dropdown-toggle > .dropdown-menu,
.btn-group > .dropdown-menu { margin-top: 10px; }

.dropdown > .dropdown-menu:before,
.dropdown-toggle > .dropdown-menu:before,
.btn-group > .dropdown-menu:before {
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    display: inline-block !important;
    left: 9px;
    position: absolute;
    right: auto;
    top: -8px;
}

.dropdown > .dropdown-menu:after,
.dropdown-toggle > .dropdown-menu:after,
.btn-group > .dropdown-menu:after {
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: '';
    display: inline-block !important;
    left: 10px;
    position: absolute;
    right: auto;
    top: -7px;
}

.dropdown > .dropdown-menu.pull-left:before,
.dropdown-toggle > .dropdown-menu.pull-left:before,
.btn-group > .dropdown-menu.pull-left:before {
    left: auto;
    right: 9px;
}

.dropdown > .dropdown-menu.pull-left:after,
.dropdown-toggle > .dropdown-menu.pull-left:after,
.btn-group > .dropdown-menu.pull-left:after {
    left: auto;
    right: 10px;
}

.dropdown > .dropdown-menu.pull-right:before,
.dropdown-toggle > .dropdown-menu.pull-right:before,
.btn-group > .dropdown-menu.pull-right:before {
    left: auto;
    right: 9px;
}

.dropdown > .dropdown-menu.pull-right:after,
.dropdown-toggle > .dropdown-menu.pull-right:after,
.btn-group > .dropdown-menu.pull-right:after {
    left: auto;
    right: 10px;
}

.dropdown.dropup > .dropdown-menu,
.dropdown-toggle.dropup > .dropdown-menu,
.btn-group.dropup > .dropdown-menu {
    margin-bottom: 10px;
    margin-top: 0px;
}

.dropdown.dropup > .dropdown-menu:after, .dropdown.dropup > .dropdown-menu:before,
.dropdown-toggle.dropup > .dropdown-menu:after,
.dropdown-toggle.dropup > .dropdown-menu:before,
.btn-group.dropup > .dropdown-menu:after,
.btn-group.dropup > .dropdown-menu:before { display: none !important; }

.dropdown-toggle:after { display: none; }

.datetimepicker {
    width: 400px!important;
}
